﻿@addTagHelper *, Views

@{
    ViewData["Title"] = "MyFeature - Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Title"] information only!</p>

<div>
    <email2>support</email2>
</div>