﻿@using TagHelpers.Models

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p bold>Use this area to provide additional information.</p>

<bold>foo</bold>

<website-information info="new WebsiteContext {
                                Version = new Version(1, 3),
                                CopyrightYear = 1638,
                                Approved = true,
                                TagsToShow = 131
                        }" />

<website-information />

<cache expires-after="new TimeSpan(0, 0, 4)">@DateTime.Now</cache>

<div class="my-clearfix">
    <div style="float: left">
        @await Component.InvokeAsync("PriorityList", new { maxPriority = 5, isDone = false })
    </div>

    <div style="float: right">
        <vc:priority-list max-priority="5" is-done="false"></vc:priority-list>
    </div>
</div>
